# 1. STOLEN-STATS

In [7]:
import psycopg2

def get_query(sql):
    conn = psycopg2.connect('dbname=baseball host=localhost user=postgres password=postgres')
    cur = conn.cursor()
    cur.execute(sql)
    conn.commit()
    results = cur.fetchall()
    cur.close()
    conn.close()
    return results

def replace_table(tablename, filename):
    conn = psycopg2.connect('dbname=baseball host=localhost user=postgres password=postgres')
    cur = conn.cursor()
    # trunctb = "TRUNCATE catcher_stats;"
    trunctb = "TRUNCATE %s;" % tablename
    copytotb = "COPY %s FROM 'C:\\Users\\ki401\\Documents\\postgres\\%s' WITH (format csv, header, encoding 'SJIS');" % (tablename, filename)
    res1 = cur.execute(trunctb)
    res2 = cur.execute(copytotb)
    conn.commit()
    cur.close()
    conn.close()
    return

replace_table('stolen_stats', 'stolen_stats.csv')

sql20of = "\
SELECT o_team, sum(stolen_bases)+sum(caught_stealing) so, sum(stolen_bases) sb, sum(caught_stealing) cs, sum(stolen_bases)*100/(sum(stolen_bases)+sum(caught_stealing)) csr FROM stolen_stats GROUP BY o_team ORDER BY o_team; \
"
sql20df = "\
SELECT d_team, sum(stolen_bases)+sum(caught_stealing) so, sum(stolen_bases) sb, sum(caught_stealing) cs, sum(stolen_bases)*100/(sum(stolen_bases)+sum(caught_stealing)) csr FROM stolen_stats GROUP BY d_team ORDER BY d_team; \
"

# https://www.yakult-swallows.co.jp/media_guide/hitting_cl/
df = get_query(sql20df)
of = get_query(sql20of) 
of,df

([('ヤクルト', 89, 53, 36, 59),
  ('横浜', 33, 22, 11, 66),
  ('巨人', 80, 56, 24, 70),
  ('広島', 69, 46, 23, 66),
  ('阪神', 90, 64, 26, 71),
  ('中日', 37, 22, 15, 59)],
 [('ヤクルト', 75, 59, 16, 78),
  ('横浜', 82, 50, 32, 60),
  ('巨人', 52, 33, 19, 63),
  ('広島', 55, 34, 21, 61),
  ('阪神', 60, 41, 19, 68),
  ('中日', 74, 46, 28, 62)])

In [8]:
print('チーム, 許盗塁/被盗塁企図, 盗塁成功/盗塁企図')
for _of, _df in zip(of, df):
    print(
        _of[0]+","+ 
        str(_df[2])+"/"+str(_df[1])+" ("+
        str(_df[4])+"%),\t"+
        str(_of[2])+"/"+str(_of[1])+" ("+ 
        str(_of[4])+"%)"
    )

チーム, 許盗塁/被盗塁企図, 盗塁成功/盗塁企図
ヤクルト,59/75 (78%),	53/89 (59%)
横浜,50/82 (60%),	22/33 (66%)
巨人,33/52 (63%),	56/80 (70%)
広島,34/55 (61%),	46/69 (66%)
阪神,41/60 (68%),	64/90 (71%)
中日,46/74 (62%),	22/37 (59%)